<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "update-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :rank %>
  <%= number_input f, :rank %>
  <%= error_tag f, :rank %>

  <%= label f, :instructions %>
  <%= textarea f, :instructions %>
  <%= error_tag f, :instructions %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
