@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

.theme-light {
  --c-0: #010000;
  --c-1: #fe5757;
  --c-2: #ffbd59;
  --c-3: #fff7eb;
}

body {
  background-color: var(--c-3);
  font-family: 'Fira Sans', sans-serif;
}

.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.header {
  margin-top: 1rem;
}

.header_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}

.article {
  color: var(--c-3);
  background-color: var(--c-1);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.article_headline {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.article_separator {
  display: inline-block;
  font-size: 3rem;
  line-height: 1rem;
  text-align: center;
  width: 100%;

  /*DISABLES SELECTION*/
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.article_separator-white {
  color: var(--c-3);
}

.article_section-reversed {
  text-align: right;
}

.article_section_title {
  padding: 0.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 700;
  font-style: italic;
  background-color: var(--c-1);
}

.article_section_content {
  padding: 0.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: var(--c-0);
  font-weight: 500;
  background-color: var(--c-2);
  padding-bottom: 0.5rem;
}

.emoji-icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--c-3);
  border-radius: 4rem;
  position: absolute;
  text-align: center;
  font-size: 2.2rem;
  line-height: 4rem;
}

.article_section .emoji-icon {
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.article_section-reversed .emoji-icon {
  margin-top: 0.5rem;
  margin-left: -4.4rem;
}

.article_section:last-child .article_section_content {
  padding-bottom: 1rem;
}