@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

br {
  display: block;
  margin: 0.25rem 0;
  content: " ";
}

.theme-light {
  --c-0: #010000;
  --c-a: #b10b0b;
  --c-1: #fe5757;
  --c-2: #ffbd59;
  --c-3: #fff7eb;
}

.disabled {
  filter: saturate(0.5);
}

a {
  display: block;
  text-decoration: none;
  color: var(--c-a);
}

a:hover {
  color: var(--c-3);
}

body {
  background-color: var(--c-3);
  font-family: 'Fira Sans', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.header {
  margin: 1rem 1rem;
}

.header_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}

.article {
  color: var(--c-3);
  background-color: var(--c-1);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 2rem;
}

.article:not(:last-child) {
  margin-bottom: 3rem;
}

.article_headline {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.article_separator {
  display: inline-block;
  font-size: 3rem;
  line-height: 1rem;
  text-align: center;
  width: 100%;

  /*DISABLES SELECTION*/
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.article_separator-white {
  color: var(--c-3);
}

.article_section-reversed {
  text-align: right;
}

.article_section_title {
  padding: 0.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 700;
  font-style: italic;
  background-color: var(--c-1);
}

.article_section_content {
  padding: 0.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: var(--c-0);
  font-weight: 500;
  background-color: var(--c-2);
  padding-bottom: 2rem;
}

.article_section .article_section_content {
  padding-left: 5rem;
  padding-right: 2rem;
}

.article_section-reversed .article_section_content {
  padding-left: 2rem;
  padding-right: 5rem;
}

.emoji-icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--c-3);
  border-radius: 4rem;
  position: absolute;
  text-align: center;
  font-size: 2.2rem;
  line-height: 4rem;

  /*DISABLES SELECTION*/
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.article_section .emoji-icon {
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.article_section-reversed .emoji-icon {
  margin-top: 0.5rem;
  margin-left: -4.4rem;
}

.article_section-last .article_section_content {
  padding-bottom: 3rem;
}

.article_footer {
  display: flex;
  flex-direction: row;
}

.article_footer_section {
  vertical-align: top;
  font-size: 1rem;
  background-color: var(--c-1);
  margin: auto;
  flex-grow: 10;
}

.article_footer_section:hover {
  background-color: var(--c-0);
}

.article_footer_section:not(:last-child) {
  border-right: solid 0.25rem var(--c-2);
}

.article_footer_section:first-child {
  border-bottom-left-radius: 1rem;
}

.article_footer_section:last-child {
  border-bottom-right-radius: 1rem;
}

.article_footer_section-large {
  flex-grow: 70;
}

/*.article_footer_section:nth-child(even) {
  color: var(--c-3);
  background-color: var(--c-0);
}*/

/*.article_footer_section:nth-child(odd) {
  color: var(--c-3);
  background-color: var(--c-1);
}*/

.article_footer_section_title {
  text-align: center;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

a.article_footer_section_title {
  color: var(--c-3);
  font-size: 1.2rem;
  font-weight: bold;
}

.sdks_menu {
  display: block;
  border-top: 0.5rem solid var(--c-3);
  height: 5rem;
  width: 100%;
}

.article_section_content .links {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article_section-reversed .article_section_content .links {
  direction: rtl;
}

.inline_link {
  display: block;
  width: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inline_link:hover {
  background-color: var(--c-1);
}

.form {
  background-color: var(--c-1);
  margin-top: 0.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.form-control {
  outline: none;
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  width: 100%;
}

.form-control:focus {
  box-shadow: 0rem 0.3rem 0rem var(--c-a);
  transform: translateY(-0.3rem);
}

form div {
  margin-bottom: 1.5rem;
}

.form-button {
  margin-top: 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--c-2);
  box-shadow: 0rem 0.3rem 0rem var(--c-a);
  transform: translateY(-0.3rem);
}

.form-button:hover {
  box-shadow: none;
  transform: none;
}

.form-button:active {
  background-color: var(--c-3);
}

@media (max-aspect-ratio: 1/1) {

  .article {
    color: var(--c-3);
    background-color: var(--c-1);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .article_headline {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}