<page class="page">
    <header class="header">
        <img class="header_img" src="<%= Routes.static_path(@conn, "/images/homesynck.png") %>"><img/>
    </header>
    <article class="article">
        <h2 class="article_headline">
            Securely synchronise and persist ordered real-time data at scale with peace of mind!
        </h2>
        <separator class="article_separator article_separator-white">
            ⋯⋯⋯⋯⋯⋯⋯⋯⋯
        </separator>
        <div class="article_section">
            <emoji-icon class="emoji-icon">
                💾
            </emoji-icon>
            <h2 class="article_section_title">
                Data agnostic
            </h2>
            <p class="article_section_content">
                It doesn't care about the kind of data you want to synchronise, its only job is to store it and avoid disorder.
            </p>
        </div>
        <div class="article_section article_section-reversed">
            <emoji-icon class="emoji-icon">
                🚚
            </emoji-icon>
            <h2 class="article_section_title">
                Highly reliable
            </h2>
            <p class="article_section_content">
                Built on top of Elixir and the Phoenix framework, it can handle concurrent streams of data like no other tech.
            </p>
        </div>
        <div class="article_section">
            <emoji-icon class="emoji-icon">
                📁
            </emoji-icon>
            <h2 class="article_section_title">
                Simple & organised
            </h2>
            <p class="article_section_content">
                Clients connect to accounts and open directories.
                <br/>
                Directories receive ordered updates from clients in real-time.
                <br/>
                Clients receive updates on directories they opened.
                <br/>
                Clients process directories' updates in order and cache them.
            </p>
        </div>
        <div class="article_section article_section-reversed">
            <emoji-icon class="emoji-icon">
                🧩
            </emoji-icon>
            <h2 class="article_section_title">
                A foundation to build upon
            </h2>
            <p class="article_section_content">
                Homesynck is distributed as an open source product, meaning anyone can come and tweak it as they please.
                <br/>
                It offers basic customisation to manage accounts, security and even add specific features like phone validation.
            </p>
        </div>
        <div class="article_section article_section-last">
            <emoji-icon class="emoji-icon">
                📡
            </emoji-icon>
            <h2 class="article_section_title">
                The only backend you need?
            </h2>
            <div class="article_section_content">
                Homesynck can act as the perfect backend for simple apps.
                <br/>
                That's what we tried with Getway, an Android contact management app.
                <br/>
                Homesynck acts as its only backend, managing data, persistance and authentication layers.
                <br/>
                + It's all real-time!
                <div class="links">
                    <a class="inline_link" href="https://github.com/Homesynck/Getway">
                        ∴ Check it out ∴
                    </a>
                </div>
            </div>
        </div>
        <footer class="article_footer">
            <section class="article_footer_section">
                <a href="https://github.com/Homesynck" class="article_footer_section_title">
                    Github
                </a>
            </section>
            <!--<section class="article_footer_section">
                <a href="https://github.com/Homesynck/Homesynck-server/tree/main/docs" class="article_footer_section_title">
                    Docs
                </a>
            </section>-->
            <section class="article_footer_section">
                <a href="https://github.com/Homesynck" class="article_footer_section_title">
                    About us
                </a>
            </section>
        </footer>
    </article>

    <article class="article">
        <h2 class="article_headline">
            <span style="color: rgba(0, 0, 0, 0.418)">Step 1:</span> Pick your client SDK ⬇
        </h2>
        <separator class="article_separator article_separator-white">
            ⋯⋯⋯⋯⋯⋯⋯⋯⋯
        </separator>
        <div class="article_section">
            <emoji-icon class="emoji-icon">
                ☕
            </emoji-icon>
            <h2 class="article_section_title">
                Java 8
            </h2>
            <div class="article_section_content">
                The optimal platform for native desktop & Android apps!
                <div class="links">
                    <a class="inline_link" href="https://github.com/Homesynck/homesynck-java-sdk">
                        ∴ Source code ∴
                    </a>
                    <a class="inline_link" href="https://mvnrepository.com/artifact/com.github.homesynck/homesynck-java-sdk">
                        ∴ Maven repository ∴
                    </a>
                    <a class="inline_link" href="https://github.com/Homesynck/homesynck-java-sdk">
                        ∴ <span style="color: rgba(0, 0, 0, 0.418)">coming soon</span> Documentation ∴
                    </a>
                </div>
            </div>
        </div>
        <div class="article_section article_section-reversed disabled">
            <emoji-icon class="emoji-icon">
                🍷
            </emoji-icon>
            <h2 class="article_section_title">
                <span style="color: rgba(0, 0, 0, 0.418)">coming soon</span>
                Elixir OTP
            </h2>
            <p class="article_section_content">
                Well suited for server-to-server synchronisation.
            </p>
        </div>
        <div class="article_section article_section-last disabled">
            <emoji-icon class="emoji-icon">
                🍤
            </emoji-icon>
            <h2 class="article_section_title">
                <span style="color: rgba(0, 0, 0, 0.418)">coming soon</span>
                Javascript
            </h2>
            <p class="article_section_content">
                Create your own web-centric synchronised real-time cool club.
            </p>
        </div>
        <h2 class="article_headline">
            <span style="color: rgba(0, 0, 0, 0.418)">Step 2:</span> Setup self-host
        </h2>
        <separator class="article_separator article_separator-white">
            ⋯⋯⋯⋯⋯⋯⋯⋯⋯
        </separator>
        <div class="article_section">
            <emoji-icon class="emoji-icon">
                🐳
            </emoji-icon>
            <h2 class="article_section_title">
                Docker-compose
            </h2>
            <div class="article_section_content">
                Scalable Phoenix web server, capable PostgreSQL database, automatic HTTPS with Nginx & Certbot.
                <div class="links">
                    <a class="inline_link" href="https://github.com/Homesynck/Homesynck-server">
                        ∴ Source code ∴
                    </a>
                    <a class="inline_link" href="https://homesynck.github.io/homesynck-server/docs/self_host_guide.html">
                        ∴ Setup guide ∴
                    </a>
                    <a class="inline_link" href="https://homesynck.github.io/homesynck-server/">
                        ∴ Documentation ∴
                    </a>
                </div>
            </div>
        </div>
        <h2 class="article_headline">
            <span style="color: rgba(0, 0, 0, 0.418)">Step 3:</span> Start syncing!
        </h2>
        <separator class="article_separator article_separator-white">
            ⋯⋯⋯⋯⋯⋯⋯⋯⋯
        </separator>
    </article>
</page>
