<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Homesynck" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="theme-light">
    <header class="article_footer sticky">
      <section class="article_footer_section">
        <a href="https://github.com/Homesynck" class="article_footer_section_title">
            Github
        </a>
      </section>
      <%= if assigns[:excluded_nav] == nil or not "/" in assigns[:excluded_nav] do %>
        <section class="article_footer_section">
          <a href="/" class="article_footer_section_title">
              Home
          </a>
        </section>
      <% end %>
      <%= if current_user(@conn) == nil and sessions_enabled?() do %>
          <section class="article_footer_section">
              <a href="/login" class="article_footer_section_title">
                  Sign in
              </a>
          </section>
      <% end %>
      <%= if current_user(@conn) != nil and sessions_enabled?() do %>
          <%= if assigns[:excluded_nav] == nil or not "/dashboard" in assigns[:excluded_nav] do %>
            <section class="article_footer_section">
              <a href="/dashboard" class="article_footer_section_title">
                  Dashboard
              </a>
            </section>
          <% end %>
          <section class="article_footer_section">
              <a href="/logout" class="article_footer_section_title">
                  Logout
              </a>
          </section>
      <% end %>
    </header>
    <%= @inner_content %>
  </body>
</html>
